<!DOCTYPE html>
<html scroll-behaviour="smooth" style="height:initial">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Fethi Tekyaygil">

    <meta name="keyword" content="fethi, tekyaygil, fethi tekyaygil, Fethi Tekyaygil, FETHİ TEKYAYGİL, FETHİ, TEKYAYGİL, .NET, .net, dotnet, core, c#, internet, dijitalleşme, dapper, entity framework, de facto, defacto,
          ggsoft, idecon, python, sql, t-sql, mssql, pc, computer, bilgisayar, engineering, mühendislik, computer engineering, bilgisayar mühendisliği,  altinbas universitesi, nilufer hatun,
          Büyük veri,yapay,zeka,YAPAY,ZEKA,yapay zeka, YAPAY ZEKA">


    <meta name="author" content="fethitekyaygil.com">

    <title>Fethi Tekyaygil</title>
    <script defer>document.getElementsByTagName("html")[0].className += " js";</script>
    <!--#Diğer CSSler-->
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/lib/mdbootstrap/css/mdb.min.css" rel="stylesheet" />
        <link href="~/lib/mdbootstrap/css/style.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <!--#endregion-->
        <!--#region HR Style-->
        <!--#endregion-->

        <link href="~/lib/hr/hr.css" rel="stylesheet" />
        @RenderSection("Styles", required: false)
    </noscript>

</head>
<body style="background-color:#e4e2e2">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow" style="background-color:#33b5e5;position:fixed;z-index:2000;width:100%">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img width="70%" src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605614629/samples/Navbar/navbar.png" alt="Fethi Tekyaygil" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-2 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Developer"> @Localizer["DeveloperSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Timeline"> @Localizer["TimelineSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Projects">@Localizer["ProjectsSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Certificates">@Localizer["CertificatesSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Events">@Localizer["EventsSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Languages">@Localizer["LanguagesSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#CommunicationTalents">@Localizer["CommunicationSkillsSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#WorkTalents">@Localizer["WorkSkillsSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Hobbies">@Localizer["HobbiesSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#ContactMe">@Localizer["ContactMeSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#FollowMe">@Localizer["FollowMeSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#Support">@Localizer["SupportSeperator"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-center" href="#CV">CV</a>
                        </li>
                        <li>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <div class="dropdown" align="right">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:contents">
                                            <img data-src=@Url.Content("/Content/Media/Language/"+(Context.Request.Path.Value.Contains("en-US")?"EN.png":"TR.png")) alt="lang" />
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item text-center" id="TRLang"><img class="lng" src=@Url.Content("/Content/Media/Language/TR.png") alt="tr" /></a>
                                            <a class="dropdown-item text-center" id="ENLang"><img class="lng" src=@Url.Content("/Content/Media/Language/EN.png") alt="en" /></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" id="body">
        @RenderBody()
    </div>
    <br />
    @*<footer class="border-top footer text-muted" style="position:inherit;background-color: #33b5e5;">
        <div class="container">
            &copy; @DateTime.Now.Year - Fethi Tekyaygil
        </div>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" defer></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" defer></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js" defer></script>
    <script defer>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
        if (raf) raf(function () {
            window.setTimeout(loadDeferredStyles, 0);
        });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
