@model FethiTekyaygilWebsite.MVC.Model.VideoModels.EpisodeModel
@using FethiTekyaygilWebsite.MVC.Helpers.UrlConfig
@{
    Layout = "~/Views/Shared/_VideoLayout.cshtml";
    string prefix = Context.Request.Path.HasValue ? Context.Request.Path.Value.Substring(0, 6) : "tr-TR";
}

<br />
<div class="card">
    <div class="card-body">
        <main id="content">
            <div class="bg-gray-1100 dark pb-5">
                <div class="container px-md-5">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="mb-6 mb-md-0">
                                <div class="mb-5 pb-1">
                                    <iframe class="w-100" height="500" src="@Model.VideoUrl" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                                <div class="row no-gutters mb-5 mb-lg-1">
                                    <div class="col-lg">
                                        <div class="mb-4 mb-md-0 pr-lg-5 pr-wd-0">
                                            <h6 class="font-size-26 text-white font-weight-medium font-secondary mb-5 text-lh-sm">@Model.Name</h6>
                                        </div>
                                    </div>
                                </div>
                                <p class="mb-6 mb-lg-10 font-size-15 text-gray-1800 pr-lg-6 text-lh-lg">@Model.Description</p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="pl-md-2 ml-md-1">
                                <div class="product pt-4">
                                    <div class="row mx-n2 mb-7">
                                        <div class="col-md-6 px-2">
                                            <div class="product-image mb-2">
                                                <a href="@prefix/all-videos?ShowID=@Model.ShowID" class="d-inline-block position-relative stretched-link" tabindex="0">
                                                    <img class="img-fluid" src="@Model.ShowImageUrl" alt="Image Description">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6 px-2">
                                            <div>
                                                <div class="product-meta font-size-12">
                                                    <span><a href="@prefix/all-videos?CommunityID=@Model.CommunityID" class="h-g-primary" tabindex="0">@Model.CommunityName</a></span>
                                                </div>
                                                <div class="product-title font-size-19 font-weight-bold mb-0">
                                                    <a href="@prefix/all-videos?ShowID=@Model.ShowID" tabindex="0" style="display:block">@Model.ShowName</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="pills-one-code-features-example1" role="tabpanel" aria-labelledby="pills-one-code-features-example1-tab">
                                        <h6 class="font-size-24 font-weight-medium text-white border-bottom mb-3 pb-2 border-gray-5800">@Localizer["OtherEpisodes"]</h6>
                                        @foreach (var otherEpisode in Model.OtherEpisodes)
                                        {<div class="font-size-1 mb-2">

                                                <a href="@prefix/videos/@otherEpisode.EpisodeID/@Url.FriendlyUrl(otherEpisode.EpisodeName)" class="text-gray-1300 h-color-white">
                                                    <span>@otherEpisode.EpisodeName</span>
                                                </a>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<br />


