
@{
    Layout = null;
}
<div id="carouselExampleCaption2" class="carousel slide" data-ride="carousel" data-interval="false" style="margin:0 auto;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="jumbotron text-center">
                <h1 class="display-4">Python(Basic)</h1>
                <p class="lead">HackerRank (11/2020)</p>
                <hr class="my-4">
                <p><span class="center"><img class="lazy card-img-top w-25" style="margin:auto" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609316/samples/Certificates/PythonBasic.png" /></span></p>
                <p class="lead">
                    <a class="btn btn-info btn-lg text-white" href="https://www.hackerrank.com/certificates/f849e7ec83dc" target="_blank" role="button">@Localizer["GoToCertificate"]</a>
                </p>
            </div>
        </div>

        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">Rest API(Intermadiate)</h1>
                <p class="lead">HackerRank (11/2020)</p>
                <hr class="my-4">
                <p><img class="lazy card-img-top w-25" style="margin:auto" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609317/samples/Certificates/RestAPIIntermadiate.png" /></p>
                <p class="lead">
                    <a class="btn btn-info btn-lg text-white" href="https://www.hackerrank.com/certificates/6e35ab57e085" target="_blank" role="button">@Localizer["GoToCertificate"]</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">Eğitimde Yapay Zeka Katılım Belgesi</h1>
                <p class="lead">Astro Artificial Intelligence (10/2020)</p>
                <hr class="my-4">
                <p><span class="center"><img class="lazy card-img-top w-25" style="margin:auto" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609316/samples/Certificates/EgitimdeYapayZeka.png" /></span></p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">@Localizer["PUCOAI"]</h1>
                <p class="lead">Global AI Hub (06/2020)</p>
                <hr class="my-4">
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">@Localizer["MLCC"]</h1>
                <p class="lead">Developer Ecosystem Programs - Global AI Hub (05/2020)</p>
                <hr class="my-4">
                <p><span class="center"><img class="lazy card-img-top w-25" style="margin:auto" data-src="https://res.cloudinary.com/dpzdg2rik/image/upload/v1605609315/samples/Certificates/GMLCC.png" /></span></p>
                <p class="lead">
                    <a class="btn btn-info btn-lg text-white" href="https://verified.cv/en/verify/984496910777" target="_blank" role="button">@Localizer["GoToCertificate"]</a>
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">@Localizer["MVC5"]</h1>
                <p class="lead">Bilge Adam (02/2016)</p>
                <hr class="my-4">
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">Cambridge ESOL Enrty Level</h1>
                <p class="lead">@Localizer["Cambridge"] (06/2012)</p>
                <hr class="my-4">
                <p> @Localizer["qId"] 0036218586</p>
            </div>
        </div>
        <div class="carousel-item">
            <div class="jumbotron text-center">
                <h1 class="display-4">Cambridge ESOL Entry Level </h1>
                <p class="lead">@Localizer["Cambridge"] (05/2011)</p>
                <hr class="my-4">
                <p> @Localizer["qId"] 115TR0035347</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaption2" role="button" data-slide="prev" style="width:5% !important">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color:rgb(51, 181, 229);"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaption2" role="button" data-slide="next" style="width:5% !important">
        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color:rgb(51, 181, 229);"></span>
        <span class="sr-only">Next</span>
    </a>
</div>