@model List<FethiTekyaygilWebsite.MVC.Model.POCO.Contact>
@{
    Layout = null;

    string prefix = Context.Request.Path.HasValue ? Context.Request.Path.Value.Substring(0, 6) : "tr-TR";
    int currentPage = int.Parse(ViewData["CurrentPage"].ToString()) + 1;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width;charset=utf-8" />
    <title>Messages</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <form action="@Url.Action("Messages","Admin")" method="get">
                    <div class="input-group mb-3">
                        <input type="text" id="filterArea" class="form-control" placeholder="Filter" aria-label="Filter" name="filterText" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" role="button" type="submit" id="btnSearch">Search</button>
                        </div>
                        <input type="hidden" name="page" value="@currentPage" />
                    </div>
                </form>
            </div>
            <div class="col-sm-6  pl-5">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @currentPage
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @for (int i = 0; i <= Model.Count() / 10; i++)
                        {
                            int pageVis = i + 1;

                            if (i != int.Parse(ViewData["CurrentPage"].ToString()))
                            {

                                <a class="dropdown-item" href="@prefix/Messages?page=@i">@pageVis</a>
                            }
                            else
                            {
                                <a class="dropdown-item">@pageVis</a>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                            <th scope="col">SendDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in Model)
                        {
                            <tr>
                                <td>@contact.Name</td>
                                <td>@contact.Email</td>
                                <td>@contact.Message</td>
                                <td>@contact.SendDate.ToString()</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive-ajax/jquery.unobtrusive-ajax.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js" defer></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" defer></script>

    <script>
        $(function () {

            //function filter() {
            $('#btnSearch').click(function () {


                var filterText = $('#filterArea').val();

                ////$.ajax({
                ////    url: '/Admin/Filter?filterText=' + filterText,
                ////    method: "GET",
                ////    contentType: "application/json; charset=utf-8",
                ////    dataType: "json",
                ////    success: function (response) {
                ////        window.location.href = response.redirectToUrl;
                ////    }
                ////});

                var url = "/Admin/Filter?filterText=" + filterText;

                console.log(filterText);
                console.log(url);
                debugger;

                $.get(url, function (response) {

                    window.location.href = response.redirectToUrl;
                });

                //$.ajax({
                //    url:url,
                //    type: "GET",
                //    contentType: "application/json; charset=utf-8",
                //    dataType: "json",
                //    success: function (response) {
                //        window.location.href = response.redirectToUrl;
                //    }
                //});

            });



            $(".dropdown-menu a").click(function () {
                //this one is add and remove active class
                $(this).closest('.btn-group').find(".dropdown-menu a").removeClass('active');
                $(this).addClass('active');
                //this one is for append text in button tag
                $(this).closest('.btn-group').find('button').append($(this).text())
            });
        });

    </script>
</body>
</html>
