
@{
    Layout = null;
    string DeFactoExplanation = Localizer["DeFactoExplanation"].Value;
    string IdeconExplanation = Localizer["IdeconExplanation"].Value;
    string GGSoftExplanation = Localizer["GGSoftExplanation"].Value;
    string PragmasoftExplanation = Localizer["PragmasoftExplanation"].Value;
    string BahcelievlerExplanation = Localizer["BahcelievlerExplanation"].Value;
    string AltinbasExplanation = Localizer["AltinbasExplanation"].Value;
    string BAALExplanation = Localizer["BAALExplanation"].Value;
    string OkyanusExplanation = Localizer["OkyanusExplanation"].Value;
    string EAIOExplanation = Localizer["EAIOExplanation"].Value;
    string NHIOExplanation = Localizer["NHIOExplanation"].Value;

}

<div class="shadow p-3 mb-5 bg-white rounded">
    <section class="cd-h-timeline js-cd-h-timeline margin-bottom-md">
        <div class="cd-h-timeline__container container">
            <div class="cd-h-timeline__dates">
                <div class="cd-h-timeline__line">
                    <ol>
                        <li><a href="#0" data-date="01/08/2000" class="cd-h-timeline__date">08/2000 - 02/2010</a></li>
                        <li><a href="#0" data-date="01/02/2010" class="cd-h-timeline__date">02/2010 - 06/2010</a></li>
                        <li><a href="#0" data-date="01/09/2010" class="cd-h-timeline__date">09/2010 - 02/2014</a></li>
                        <li><a href="#0" data-date="01/02/2014" class="cd-h-timeline__date">02/2014 - 09/2014</a></li>
                        <li><a href="#0" data-date="01/06/2014" class="cd-h-timeline__date">09/2014 - 06/2018</a></li>
                        <li><a href="#0" data-date="01/06/2016" class="cd-h-timeline__date">06/2016 - 06/2016</a></li>
                        <li><a href="#0" data-date="01/08/2017" class="cd-h-timeline__date">08/2017 - 09/2017</a></li>
                        <li><a href="#0" data-date="01/06/2018" class="cd-h-timeline__date">06/2018 - 09/2018</a></li>
                        <li><a href="#0" data-date="01/11/2018" class="cd-h-timeline__date">11/2018 - 02/2020</a></li>
                        <li><a href="#0" data-date="02/03/2020" class="cd-h-timeline__date cd-h-timeline__date--selected">03/2020 -  @Localizer["Continue"]</a></li>
                    </ol>

                    <span class="cd-h-timeline__filling-line" aria-hidden="true"></span>
                </div>
            </div>
            <ul>
                <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--prev cd-h-timeline__navigation--inactive"> @Html.Raw("<") </a></li>
                <li><a href="#0" class="text-replace cd-h-timeline__navigation cd-h-timeline__navigation--next">></a></li>
            </ul>
        </div>

        <div class="cd-h-timeline__events">
            <ol>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://niluferhatunilkokulu.meb.k12.tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Education/NH.jpg")" alt="@Localizer["NHIOTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["NHIOTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["NHIOPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(NHIOExplanation)

                            <br />
                            <div align="right">@Localizer["NHIOAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://esenkentataturkilkokulu.meb.k12.tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Education/EA.jpg")" alt="@Localizer["EAIOTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["EAIOTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["EAIOPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(EAIOExplanation)

                            <br />
                            <div align="right">@Localizer["EAIOAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="https://www.okyanuskoleji.k12.tr" target="_blank"> <img src="@Url.Content("/Content/Media/Education/OK.jpg")" alt="@Localizer["OkyanusTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["OkyanusTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["OkyanusPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(OkyanusExplanation)

                            <br />
                            <div align="right">@Localizer["OkyanusAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://bahata.meb.k12.tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Education/BAAL.JPG")" alt="@Localizer["BAALTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["BAALTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["BAALPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(BAALExplanation)

                            <br />
                            <div align="right">@Localizer["BAALAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://www.altinbas.edu.tr/tr" target="_blank"> <img src="@Url.Content("/Content/Media/Education/AU.jpg")" alt="@Localizer["AltinbasTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["AltinbasTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["AltinbasPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(AltinbasExplanation)

                            <br />
                            <div align="right">@Localizer["AltinbasAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://www.bahcelievler.istanbul/" target="_blank"> <img src="@Url.Content("/Content/Media/Experience/BBLogo.png")" alt="@Localizer["BahcelievlerTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["BahcelievlerTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["BahceliEvlerPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(BahcelievlerExplanation)

                            <br />
                            <div align="right"> @Localizer["BahcelievlerAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="https://www.pragmasoft.com.tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Experience/PragmaLogo.png")" alt="@Localizer["PragmasoftPosition"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">Pragmasoft</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["PragmasoftPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(PragmasoftExplanation)

                            <br />
                            <div align="right">@Localizer["PragmasoftAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://www.g-gsoft.com.tr/tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Experience/GGSoftLogo.jpg")" alt="@Localizer["GGSoftPosition"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">GGSoft</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["GGSoftPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(GGSoftExplanation)

                            <br />
                            <div align="right">@Localizer["GGSoftAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="https://www.idecon.com.tr/" target="_blank"> <img src="@Url.Content("/Content/Media/Experience/IdeconLogo.png")" alt="@Localizer["IdeconTitle"]" style="height:200px" /></a></div>
                    </div>

                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["IdeconTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["IdeconPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">
                            @Html.Raw(IdeconExplanation)

                            <br />
                            <div align="right">@Localizer["IdeconAddress"]</div>
                        </p>
                    </div>
                </li>
                <li class="cd-h-timeline__event cd-h-timeline__event--selected text-component">
                    <div class="photo" style="display: flex;justify-content: center;align-items: center;">
                        <div class="shadow p-3 mb-5 bg-white rounded" style="display:inline-block;"><a href="http://www.defactoteknoloji.com.tr/" target="_blank"> <img data-src="@Url.Content("/Content/Media/Experience/DeFacto.png")" alt="@Localizer["DeFactoTitle"]" style="height:200px" /></a></div>
                    </div>
                    <div class="cd-h-timeline__event-content container">
                        <h2 class="cd-h-timeline__event-title">@Localizer["DeFactoTitle"]</h2>
                        <em class="cd-h-timeline__event-date">@Localizer["DeFactoPosition"]</em>
                        <p class="cd-h-timeline__event-description color-contrast-medium">

                            @Html.Raw(DeFactoExplanation)
                            <br />
                            <div align="right">Başakşehir YTÜ Teknopark, D:Z12, 34306 İkitelli Osb/Başakşehir</div>
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </section>
</div>